/* 0. RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1. LAYOUT */
body { text-align: center; font: 300 20px/1.7 'Roboto Condensed'; }

	.header  {display: flex; justify-content: center; align-items: center;}
	.navbar { display: flex; justify-content: center; align-items: center;}

	.inscripciones {text-align: left;}

	.lista-programas {display: flex; justify-content: center; align-items: center; align-items: center;}

/* 2. GENERIC ITEMS */
	.header  { height: 450px; background: url(../imagenes/alcaldia.jpg) no-repeat center top; background-size: cover;}
	.navbar {height: 63px; background: #2c3e50;}
	.navbar a {color: #fff; padding: 0 20px; text-decoration: none; 
	text-transform: uppercase; font: 20px 'Stint Ultra Condensed';}
	.title {margin-bottom: 40px; font: 60px 'Stint Ultra Condensed'; text-transform;}
	p { margin-bottom: 40px; }
	.btn { border: 2px solid #606DF7; padding: 10px 40px; display:
		inline-block; text-decoration: none; color: #070100;}

/* 3. PARTS OF THE WEB */
.contenido { padding: 80px 0;}

.impo { background: #2c3e50; color: #fff;}
	.impo p { max-width: 1055px; margin: 0 auto; }

.programas {background: #34495e; color: #fff;}

.inscripciones { background: url(../imagenes/alcaldia.jpg") no-repeat center top background-size: cover; color: #000000;}
.contain {max-width: 1055px; margin: 0 auto;}
.inscripciones p{max-width: 450px;}

.localiza {color: #34495e; padding-bottom: 0;}
 .localiza .map img {max-width: 100%; width: 100%;}


